Source: blissos-calamares
Section: unknown
Priority: optional
Maintainer: Bùi Gia Viện <shadichy@blisslabs.org>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
  cmake,
  cryptsetup <!nocheck>,
  extra-cmake-modules,
  gettext,
  libkf5config-dev,
  libkf5coreaddons-dev,
  libkf5i18n-dev,
  libkf5iconthemes-dev,
  libkf5kio-dev,
  libkf5parts-dev,
  libkf5plasma-dev,
  libkf5service-dev,
  libkf5solid-dev,
  libkpmcore-dev,
  libparted-dev,
  libpolkit-qt5-1-dev,
  libpwquality-dev,
  libboost-python-dev,
  libqt5svg5-dev,
  libqt5webkit5-dev,
  libyaml-cpp-dev,
  os-prober <!nocheck>,
  pkg-config,
  pkg-kde-tools,
  pkexec,
  python3:any,
  qml-module-qtquick-layouts,
  qml-module-qtquick-privatewidgets,
  qml-module-qtquick-window2,
  qml-module-qtquick2,
  qtbase5-dev,
  qtdeclarative5-dev,
  qttools5-dev,
  qttools5-dev-tools
Standards-Version: 4.6.2
Homepage: https://github.com/shadichy/patches-calamares-blissos.git
Vcs-Browser: https://github.com/shadichy/patches-calamares-blissos.git
Vcs-Git: https://github.com/shadichy/patches-calamares-blissos.git

Package: blissos-calamares
Architecture: linux-any
Multi-Arch: foreign
Depends: os-prober, rsync,
  ${shlibs:Depends},
  ${misc:Depends},
Description: distribution-independent installer framework
  Calamares is a distribution-independent installer framework.
  .
  This is the re-branded version of calamares, made specifically
  for BlissOS live installer.
  .
  It provides a graphical installer that can be used with nearly
  any distribution. This package is suitable for live media on
  Debian-based systems, and won't be of any particular use on
  an already installed system.
  .
  You will likely want to provide your own config files to match
  your distribution, reading the Calamares documentation will guide
  you through that process.
